.App {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}




#tsparticles {
  position: fixed;   /* Keeps particles fixed in the background */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;       /* Ensures it is behind all other components */
}